/* font-family: 'Berkshire Swash', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #F9E0BB;
    margin: 0;
    overflow: hidden;
  }
  
  #root {
    position: relative;
    height: 100vh;
  }
  
  p {
    font-family: 'Lato', sans-serif;
  }
/* Welcome Page  */

  .main-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main-heading-div {
    color: #C38154;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-heading-div .main-heading {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .main-heading-div p {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .main-heading-div span {
    font-family: 'Dancing Script', cursive;
    color: #884A39;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  
  .button-div {
    text-align: center;
  }

  .main-button {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    width: 7.3rem;
    height: 3.45rem;
    background-color: #884A39;
    color: #F9E0BB;
    border: none;
    border-radius: 8px;
    margin: 7px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
.main-button:hover {
  background-color: #743928;
}

.main-button:active {
  background-color: #5C2B20;
}

/* Login Page  */

.login-form-div {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-style {
  border-radius: 2px;
  background-color: #FFECD0;
  border: none;
  width: 28.75rem;
  height: 2.5rem;
  color: #C38154;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: text; 
}

.input-style:focus {
  outline: none;
  border: 1px solid #C38154;
}

.input-style::placeholder {
  color: #c28d69;
}

.login-heading-form {
  text-align: center;
  margin-bottom: 40px;
}
.login-heading-form h1{
  color: #743928;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-text p{
  color: #C38154;
  font-size: 1.2rem;
  
}
.bottom-text a{
  text-decoration: none;
  color:#743928; 
  font-weight: bolder;
}

.form button{
  margin-top: 40px;
}

/* Home Page  */

/* Sidebar  */

.sidebar {
  background-color: #4f7178;
  width: 314px;
  height: 100vh;
  transition: width 0.3s;
  overflow: hidden; 
}

.sidebar.closed {
  width: 55px;
}

.sidebar-link {
  opacity: 1;
  transition: opacity 0.3s; 
}

.sidebar.closed .sidebar-link {
  opacity: 0;
  pointer-events: none; 
}

.sidebar-link p {
  font-family: 'Berkshire Swash', cursive;
  color: #f9e0bb;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 0;
  transition: padding-left 0.3s; 
}

.sidebar.closed .sidebar-link p {
  padding-left: 0;
}

.lower-link {
  position: absolute;
  bottom: 30px;
  opacity: 1;
  transition: opacity 0.3s; 
}

.sidebar.closed .lower-link {
  opacity: 0;
  pointer-events: none; 
}

.fa-sharp {
  color: #f9e0bb;
  font-size: 50px;
  padding-left: 15px;
  padding-top: 20px;
  transition: padding-left 0.3s; 
}

.sidebar.closed .fa-sharp {
  padding-left: 9px;
}

.logo-div {
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s; 
}

.sidebar.closed .logo-div {
  opacity: 0;
  pointer-events: none; 
}

.logo-div img {
  width: 198px;
  transition: width 0.3s; 
}

.sidebar.closed .logo-div img {
  width: 0;
}

/* Home Content  */

.content{
  display: grid;
  grid-template-rows: 12rem;
  width: 78.8125rem;

  /* border: solid blue 1px; */
}

.search-section{
  /* border: solid black 1px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-section{
  /* border: solid red 1px; */
}

.instruction-div{

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container{
  display: grid;
  width: 99.4375rem;
  grid-template-columns:314px  1261rem;
  gap: 15px;
}

.instruction{
  width: 63rem;
  height: 9.4375rem;

  margin-top: 5rem;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  color: #928067;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.instruction p{
  font-family: 'Berkshire Swash', cursive;
  margin: 0;

  padding: 10px 20px;
}

.custom-button{
  width: 4rem;
  height: 3rem;
}





